templates/
material/   
.claude/
explorations/
quality_reports/
CLAUDE.md
MEMORY.md
claude_code_prompt
.gitignore
*.blg
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.aux
*.bbl
Lab/stata_all_in_one_temp.do
*log.txt
temp/
notes/
Slides/
Lab/L3/scripts/stata_all_in_one_temp.do
logs
Lab/old

Lab/L2/data/db_estimates_extra.dta
